html,body{
    font-family:'Roboto-Light', sans-serif;
    font-weight:400;
    height:100%;width:100%;
    line-height:24px;
    font-size:14px;
   color:rgba(0,0,0,0.87);
    background-color:#fff
}


.profile-container {
    flex: 1 0 auto;
    padding: 0px 90px 20px 90px;
}

.tac {
    text-align: center;
}

/*NEW CSS */

.profile-separator {
    height:20px;
    clear:both;
}

.profile-name {
    font-size: 15px;
    color: #5b5858;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
}
.social-networks {
    font-size:12px;
}

.profile-left-side {
    background-color: #F8F8F8;
    padding:20px;
}

.profile-pic {
    width: 100%;
}

.profile-pic-footer {
    text-align:center;
    padding:20px;
}
.score-main {
    color:#fff;
    font-weight:900;
    font-size:20px;
}

.score-sub {
    color:#fff;
    font-weight:900;
    font-size:12px;
}

.influence-score {
    background-color: #FFC107;
}

.spending-score {
    background-color: #f7c83b;
}

.basic-demographic-details {
    padding-top:20px;
}

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    background-color: #003E66!important;
    color:#003E66!important;
}

.profile-page-icon {
    position:relative;
    top:5px;
    font-size:20px!important;
}

.profile-list {
    padding-left:0px;
    list-style-type:none ;
li {
    padding-bottom:5%;
}
}

.profile-tabs-padding {
    padding:30px;
}


.basic-info {
    list-style-type:none;
    -webkit-padding-start: 35px;
}

.basic-info > li {
    padding-top:10px;
}
.basic-info-label {
    width:150px;
    font-weight:900;
}

.profile-container {
.tick text, .nv-axisMaxMin text {
    fill: #404040!important;
    font-weight: 900;
    font-size:14px;
    font-family: "Roboto-Light" !important;
}
}

.personality-insights-text {
    padding:10px;
    border:1px solid #FFC107;
    border-radius: 4px;
    border-style:dashed;
}

.nv-bar:hover > #profilebarid {
    fill: #FFC107!important;
}


/*STREEMAP */


.treemap >.node {
    border: solid 1px #ccc;
    font: 16px sans-serif;
    color: white;
    line-height: 16px;
    overflow: hidden;
    position: absolute;
  text-indent: 1%;
    background: black;
    padding: 2%;
    padding-top: 13px;
    transition: background 0.13s linear;
    transition: color 0.5s;
   transition: opacity 0.13s linear;

}

/*.treemap >.node:hover {*/
     /*background: grey !important;*/
     /*opacity: 0.8;*/
     /*color: white;*/
 /*}*/

/*#treemap, #treemap-cities {*/
/*.node {*/
    /*border: solid 1px #ccc;*/
    /*font: 16px sans-serif;*/
    /*color: white;*/
    /*line-height: 16px;*/
    /*overflow: hidden;*/
    /*position: absolute;*/
    /*text-indent: 1%;*/
    /*padding-top: 13px;*/
    /*transition: background 1s;*/
    /*transition: color 0.5s;*/
/*&:hover {*/
     /*background: grey !important;*/
     /*opacity: 0.5;*/
     /*color: white;*/
 /*}*/
/*}*/
/*}*/

svg {
    height:100%!important;
}

text#testid
{
    font-family: 'FSElliotPro-Light';
    stroke: #fff!important;
    fill: #fff!important;
    text-anchor: middle;
    line-height:30px;
    font-size: 14px;
}

.tick line {
    display: none;
    opacity: 0;
}

.profile-social-facebook {
    color:#43609C;
}

.profile-social-twitter {
    color:#55ACEE;
}

.profile-social-linkedin {
    color:#0077B5;
}


#profileBarChart  .tick text {
    fill: #003E66!important;
}

#profileBarChart .nv-axisMaxMin text
{
    fill: #e5e3e3!important;
}

.social-bar-friends {
    background-color:#408cc8;
    color:#fff;
    height:20px;
    font-weight:800;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size:13px;
}

.social-bar-friends-inner {
    position: relative;
    /*top: 2px;*/
}

.fa-thumbs-down {
    color: #FF6666;
}

.fa-minus {
    color: grey
}

