<section class="banner-slider" id="home-page">
    <ul class="slides clearfix">
        <li class="slide01">
            <div class="bg-solid">
                <h1>Socital</h1>
                <h2><span>Present Your App</span> With Ganpathi</h2>
                <p>Available for download on major app marketplaces, Enjoy the App...! </p>
                <div class="ban-download-btns">

                    <a  class="down-btn"
                        ng-click="login('facebook')"
                        style="cursor:pointer;">
                        Facebook Login
                    </a>

                    <a  class="down-btn"
                        ng-click="login('twitter')">
                        Twitter Login
                    </a>
                </div>
            </div>
        </li>
    </ul>
</section>
