<div style="height:110%; background-color:#EDECEC; position:relative; padding-top:30px;">
<div class='profile-container'>
    <div class="socital-site-separator-no-sidebar" ></div>

    <div flex="100">

        <span class="profile-name">
            {{ name }}
        </span>&nbsp;&nbsp;

        <span ng-repeat="provider in providers">
            <i class="fa fa-{{provider}} profile-social-{{provider}}"></i>
        </span>

        <div class="profile-separator"></div>

        <md-content flex="100" layout="row">

            <div flex="25" class="profile-left-side">

                <div class="profile-pic-container">

                    <div>
                        <img ng-src="{{pic}}"
                             class="profile-pic" />
                    </div>

                    <div class="profile-pic-footer influence-score" ng-if='data.influence'>
                        <span class="score-main">{{ mapValues(data.influence) | uppercase }}</span>
                        <div class="separator"></div>
                        <span class="score-sub"> INFLUENCE SCORE </span>
                    </div>

                    <div class="profile-pic-footer spending-score" ng-if='data.spendingCapacity'>
                        <span class="score-main"> {{ mapValues(data.spendingCapacity) | uppercase }}</span>
                        <div class="separator"></div>
                        <span class="score-sub"> SPENDING CAPACITY </span>
                    </div>
                </div>

                <div class="basic-demographic-details">
                    <h4>Basic Information</h4>

                    <ul class="profile-list" layout="column" >

                        <li>
                            <i class="fa fa-heart-o"></i>
                            &nbsp;&nbsp; Name: {{ name }}
                        </li>

                        <li ng-if="data.gender">
                            <i class="fa fa-female" ></i>
                            &nbsp;&nbsp; Gender: {{ data.gender }}
                        </li>

                        <li ng-if="data.age">
                            <i class="fa fa-calculator"> </i>
                            &nbsp;&nbsp; Age: {{ data.age }}
                        </li>

                        <li ng-if="data.email">
                            <i class="fa fa-envelope-o"></i>
                            &nbsp;&nbsp; Email: {{ data.email }}
                        </li>

                        <li ng-if="location">
                            <i class="fa fa-map-marker"></i>
                            &nbsp;&nbsp; Location: {{ location }}
                        </li>

                        <li ng-if="data.isEnglishSpeaker">
                            <i class="fa fa-flag"></i>
                            &nbsp;&nbsp; English speaker
                        </li>

                        <li ng-if="languages">
                            <i class="fa fa-language"></i>
                            &nbsp;&nbsp; Languages:
                            <span ng-repeat='item in languages'>
                                {{ item }}
                                <span ng-if="!$last">
                                    ,
                                </span>
                            </span>

                        </li>


                    </ul>


                </div>
            </div><!-- end left side-->


            <div flex="75">
                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
                        <md-tab label="About Page">
                            <md-content class="md-padding profile-tabs-padding" >

                                <span ng-if="data.about && data.about.length > 0">
                                    <h4>
                                        <i class="material-icons profile-page-icon">
                                            face
                                        </i>
                                        &nbsp; Summary
                                    </h4>
                                    <ul class="basic-info">
                                        <li>
                                            {{ data.about }}
                                        </li>
                                    </ul>
                                </span>


                                <h4>
                                    <i class="material-icons profile-page-icon">
                                        account_box
                                    </i>
                                    &nbsp; Basic Information
                                </h4>

                                <ul class="basic-info" layout="column" >
                                    <li ng-if="data.gender" layout="row">
                                        <div class="basic-info-label">
                                            Gender
                                        </div>
                                        <div> {{ data.gender }} </div>
                                    </li>

                                    <li ng-if="data.age" layout="row">
                                        <div class="basic-info-label">
                                            Age
                                        </div>
                                        <div> {{ data.age }} </div>
                                    </li>

                                    <li ng-if="data.email" layout="row">
                                        <div class="basic-info-label">
                                            Email
                                        </div>
                                        <div> {{ data.email }} </div>
                                    </li>

                                    <li ng-if='location' layout="row">
                                        <div class="basic-info-label">
                                            Location
                                        </div>
                                        <div> {{ location }} </div>
                                    </li>

                                    <li ng-if="data.isEnglishSpeaker" layout="row">
                                        <div class="basic-info-label">
                                            English speaker
                                        </div>
                                        <div ng-if='data.isEnglishSpeaker'>
                                            Yes
                                        </div>
                                        <!-- <div ng-if='!data.isEnglishSpeaker'>
                                            No
                                        </div> -->
                                    </li>

                                    <li ng-if="languages" layout="row">
                                        <div class="basic-info-label">
                                            Languages
                                        </div>
                                        <div ng-repeat='item in languages'>
                                            {{ item }}
                                            <span ng-if="!$last"> , </span>
                                        </div>
                                    </li>

                                </ul>

                                <span ng-if="twitterLink || facebookLink || data.urls.length > 0">
                                    <h4>
                                        <i class="material-icons profile-page-icon">
                                            contact_mail
                                        </i>
                                        &nbsp; Contact Information
                                    </h4>

                                    <ul class="basic-info" layout="column" >
                                        <span ng-if="twitterLink">
                                            <div>
                                                <a target='_blank'
                                                   ng-href="{{ twitterLink }}"
                                                   class='blueFont'>
                                                   Twitter profile
                                                </a>
                                            </div>
                                        </span><br>

                                        <span ng-if="facebookLink">
                                            <div>
                                                <a target='_blank'
                                                   ng-href="{{ facebookLink }}"
                                                   class='blueFont'>
                                                    Facebook Profile
                                                </a>
                                            </div>
                                        </span><br>

                                        <li layout="row"
                                            ng-if='data.urls.length > 0'>
                                            <div class="basic-info-label">
                                                Url
                                            </div>
                                            <div layout="column">
                                                <a ng-repeat='url in data.urls'
                                                   target='_blank'
                                                   ng-href="{{ url }}"
                                                   class='blueFont'>
                                                   {{ url }}
                                                </a><br>
                                            </div>
                                        </li>
                                    </ul>
                                </span>

                                <span ng-if="facebookFriends || twitterFriends">
                                    <h4>
                                        <i class="material-icons profile-page-icon">
                                            people
                                        </i>
                                        &nbsp; Social Network Activity
                                    </h4>

                                    <!-- Twitter Following / Followers -->
                                    <div flex="95" ng-if='twitterFriends'>
                                        Twitter <br>
                                        <span>
                                            Followers: {{ twitterFollowers }}
                                        </span>
                                        <br>
                                        <span>
                                            Following: {{ twitterFriends }}
                                        </span>
                                    </div>
                                    <!-- End Twitter Following / Followers -->

                                    <!-- Facebook Friends -->
                                    <ul class="basic-info"
                                        flex="90"
                                        ng-if="facebookFriends">

                                        <li layout="row">
                                            <div class="basic-info-label"
                                                 style="width: 70px;">
                                                Facebook
                                            </div>

                                            <div class="social-bar-friends tac"
                                                 ng-style="{ width: '100%' }">
                                                <span class='social-bar-friends-inner'>
                                                    {{ facebookFriends }} FRIENDS
                                                </span>
                                            </div>
                                        </li>
                                    </ul><br/>
                                    <!-- End Facebook Friends -->
                                </span>

                                <ul class="basic-info">
                                    <li ng-if='user.registrationDate' layout="row">
                                        <div class="basic-info-label">Acquisition date</div>
                                        <div>{{ user.registrationDate | date: 'EEEE MMMM dd, yyyy' }}</div>
                                    </li>
                                </ul>
                            </md-content>
                        </md-tab>
                        <md-tab label="Interests">
                            <md-content class="md-padding">
                        <h4>Top Interests</h4>
                                <div ng-repeat="interest in interests">
                                  <ul style="list-style-type:none;">
                                    <li>{{interest.label}}
                                  <ul ng-if="interest.children" ng-repeat="child in interest.children">
                                      <li>{{child.label}}</li>
                                    </ul>
                                  </li>
                                  </ul>
                                </div>
                                <h4>Top Brands</h4>
                                <div ng-repeat="interest in interests">
                                    <div ng-repeat="brand in interest.brands">
                                        {{brand.label}}
                                    </div>
                                </div>
                            </md-content>
                        </md-tab>


                        <md-tab label="Top Countries - Cities">
                            <md-content class="md-padding">

                                <div ng-repeat="location in data.locationsOfInterest">
                                    <ul style="list-style-type:none;">
                                        <li>
                                            {{ location.city }}
                                            {{ ', ' }}
                                            {{ location.country }}
                                        </li>
                                    </ul>
                                </div>

                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>


            </div>
        </md-content>


    </div>


</div>

 </div>


